doctype html
html
  head
    meta(charset='utf-8')
    title オリジナル
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='../styles/original.css')
  body
    .l-wrapper
      .l-container
        header.header
          h1 こころと身体とIT研究室
          p Laboratory for Human Mind and Body and Information Technology

        nav.nav.u-mT10
          ul.u-flex.u-flex__horizontal__around
            li: a(href="#") information
            li: a(href="#") professor
            li: a(href="#") about 
            li: a(href="#") projects
            li: a(href="#") contact

        section.img-section
            img(src='../images/top.jpg')

        section.contents.u-mB50
          h2 informaiton
          .u-flex.u-mT30.u-flex__horizontal__between
            .contents__text
              h3 ~活動場所~
              p ７２２教室 行動観察室
              p スポーツ心理・生体デザインシステムLAB
              h3.u-mT20 ~日時~
              p 毎週金曜日　1・2限
              p.u-mT20 ※我々「心理とスポーツとIT研究室」では、心身両面から人間を多角的に理解しながら、健康の維持・増進、競技力の向上、快適性の追求に向けて、心理学とスポーツ科学の観点から様々な研究に取り組んでいます。
            img(src='../images/ven.png')
          h2 new topics
          ul.u-mT20
            li
              span 3月 
              | AINA2017(台湾国際学会)
            li 
              span 5月~6月
              | 125周年シンポジウム
            li 
              span 7月
              | 第46回可視化情報シンポジウム・CSII2017（国際会議）への参加
            li 
              span 8月
              | 学会参加：感性工学会、睡眠環境学会への参加
            li 
              span 8月
              | 電気情報通信学科内研究会：魅力工学研究会の発足シンポジウムへの参加

      footer.footer
        .l-container.u-flex.u-flex__horizontal__around
          .footer__address
            p Address:
            p 東洋大学川越キャンパス
            p 〒350-8585
            p 埼玉県川越市鯨井2100
            br
            p Tel: 049-239-1434
          img(src='../images/logo.png')
          .footer__cp created by katolab
          .footer__icon
            a(href='#') twitterはこちら
            br
            a(href='#') facebookはこちら