.u-pInherit{padding: inherit!important;}
.u-p0{padding: 0!important;}

.u-p0Auto {padding : 0 auto!important;}
.u-p10Auto{padding : 10px auto!important;}
.u-p20Auto{padding : 20px auto!important;}
.u-p40Auto{padding : 40px auto!important;}
.u-p60Auto{padding : 60px auto!important;}

.u-pT0 {padding-top: 0px!important;}
.u-pT5 {padding-top: 5px!important;}
.u-pT10{padding-top: 10px!important;}
.u-pT20{padding-top: 20px!important;}
.u-pT30{padding-top: 30px!important;}
.u-pT40{padding-top: 40px!important;}
.u-pT50{padding-top: 50px!important;}
.u-pT60{padding-top: 60px!important;}

.u-pR0 {padding-right: 0px!important;}
.u-pR5 {padding-right: 5px!important;}
.u-pR10{padding-right: 10px!important;}
.u-pR20{padding-right: 20px!important;}
.u-pR30{padding-right: 30px!important;}
.u-pR40{padding-right: 40px!important;}
.u-pR50{padding-right: 50px!important;}
.u-pR60{padding-right: 60px!important;}

.u-pL0 {padding-left: 0px!important;}
.u-pL5 {padding-left: 5px!important;}
.u-pL10{padding-left: 10px!important;}
.u-pL20{padding-left: 20px!important;}
.u-pL30{padding-left: 30px!important;}
.u-pL40{padding-left: 40px!important;}
.u-pL50{padding-left: 50px!important;}
.u-pL60{padding-left: 60px!important;}

.u-pB0 {padding-bottom: 0px!important;}
.u-pB5 {padding-bottom: 5px!important;}
.u-pB10{padding-bottom: 10px!important;}
.u-pB20{padding-bottom: 20px!important;}
.u-pB30{padding-bottom: 30px!important;}
.u-pB40{padding-bottom: 40px!important;}
.u-pB50{padding-bottom: 50px!important;}
.u-pB60{padding-bottom: 60px!important;}