@import "foundations/_reset";
@import "foundations/_base";
@import "foundations/_responsive";

@import "layouts/_main";
@import "layouts/_header";

@import "components/_caption";
@import "components/_list";
@import "components/_button";

@import "utilities/_margin";
@import "utilities/_padding";
@import "utilities/_flex";
@import "utilities/_display";

.header {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 40px;
	}
}

section {
	width: 750px;
	margin: 0 auto;
}

.btns {
	margin-top: 50px;
	a {
		margin-right: 20px;
	}
}

.footer {
	background-color: #444;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #eee;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}